.gallery-photo {
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    border-radius: 5%;
    padding: 10px;
}

/* #desert {
    max-height: 550px;
} */

.photosection1 {
    height: 550px;
    width: auto;
    max-width: 350px;
}

.photosection2 {
    height: 280px;
    width: auto;
    max-width: 350px;
}

@media only screen and (max-width: 500px) {
    .photosection1 {
        width: 50%;
        height: auto;
        min-width: 200px;
        max-width: 400px;
        border-radius: 5%;
        padding: 10px;
    }
    
    .photosection2 {
        width: 50%;
        height: auto;
        min-width: 200px;
        max-width: 400px;
        border-radius: 5%;
        padding: 10px;
    }
}

#melinda {
    color:black;
    font-weight: 600;
    text-decoration:none;
}